front-end/src/TemplateRegister/Microsoft.Flow/flows/f5ccc2d1-e665-4ec7-9fd5-cc4f707aa19c/definition.json
{"name":"85ccb78a-3989-4a0b-a7dd-e8c157487320","id":"/providers/Microsoft.Flow/flows/85ccb78a-3989-4a0b-a7dd-e8c157487320","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TemplateRegister","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"0d8c8bdf-98f7-47e2-9147-f5acc58199a3","type":"User","tenantId":"6416915b-6778-4c36-ba4f-e56ff64a8bb7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-08-10T16:27:01.2862273Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUMlRCVU5BMkgxRElBUUFNM09JNkc5Njk0TC4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUMlRCVU5BMkgxRElBUUFNM09JNkc5Njk0TC4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"WorksheetExist":{"runAfter":{"ClassName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"WorksheetExist","type":"boolean","value":false}]}},"Get_worksheets":{"runAfter":{"Set_Email":["Succeeded"]},"metadata":{"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI":"/Class Leger.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetAllWorksheets"},"parameters":{"source":"me","drive":"b!yyd3UvWQUEWBsq-IBKWWz7xMJNqfPMpMrf0sy0vbLidiVBR0bz75T7Dua8_0uE5Z","file":"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI"},"authentication":"@parameters('$authentication')"}},"CheckCreateWorksheet":{"foreach":"@outputs('Get_worksheets')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Temp","value":"@items('CheckCreateWorksheet')"}},"Condition":{"actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"WorksheetExist","value":true}}},"runAfter":{"Compose":["Succeeded"]},"expression":{"equals":["@variables('Temp')['name']","@variables('ClassName')"]},"type":"If"},"Compose":{"runAfter":{"Set_variable":["Succeeded"]},"type":"Compose","inputs":"@variables('Temp')['name']"}},"runAfter":{"Get_worksheets":["Succeeded"]},"type":"Foreach"},"Create_Worksheet_if_doesn't_exist":{"actions":{"Create_worksheet_2":{"runAfter":{},"metadata":{"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI":"/Class Leger.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateWorksheet"},"parameters":{"source":"me","drive":"b!yyd3UvWQUEWBsq-IBKWWz7xMJNqfPMpMrf0sy0vbLidiVBR0bz75T7Dua8_0uE5Z","file":"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI","body/name":"@variables('ClassName')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"CheckCreateWorksheet":["Succeeded"]},"expression":{"equals":["@variables('WorksheetExist')",false]},"type":"If"},"Get_tables":{"runAfter":{"TableExists":["Succeeded"]},"metadata":{"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI":"/Class Leger.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetTables"},"parameters":{"source":"me","drive":"b!yyd3UvWQUEWBsq-IBKWWz7xMJNqfPMpMrf0sy0vbLidiVBR0bz75T7Dua8_0uE5Z","file":"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI"},"authentication":"@parameters('$authentication')"}},"ClassName":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ClassName","type":"string","value":"TemplateClass"}]}},"TableExists":{"runAfter":{"Create_Worksheet_if_doesn't_exist":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TableExists","type":"boolean","value":false}]}},"CheckTableExists":{"foreach":"@outputs('Get_tables')?['body/value']","actions":{"Condition_2":{"actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TableExists","value":true}}},"runAfter":{"Set_variable_2":["Succeeded"]},"expression":{"contains":["@variables('Temp')['name']","@variables('ClassName')"]},"type":"If"},"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Temp","value":"@items('CheckTableExists')"}}},"runAfter":{"Get_tables":["Succeeded"]},"type":"Foreach"},"Necessary_Temp_Variable_":{"runAfter":{"WorksheetExist":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Temp","type":"object"}]}},"Get_Form_Data":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents","connectionName":"shared_webcontents","operationId":"InvokeHttp"},"parameters":{"request/method":"GET","request/url":"/formapi/api/6416915b-6778-4c36-ba4f-e56ff64a8bb7/users/0d8c8bdf-98f7-47e2-9147-f5acc58199a3/light/runtimeFormsWithResponses('W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUMlRCVU5BMkgxRElBUUFNM09JNkc5Njk0TC4u')?$expand=questions($expand=choices)"},"authentication":"@parameters('$authentication')"}},"Create_event_(V4)":{"runAfter":{"Send_an_email_to_Teacher":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AAMkADYwNDI2YjM5LWEwMDEtNDQ4YS04MDJkLWMxOTNiZjg2ZTcyNwBGAAAAAADD-by0ElfBSIm3b-YcPsX6BwC8Ve07jesgQrXH1UDvOdvyAAAAk5atAAAcxkeEL9d2R6IhU9EmPJkZAAAAAEg3AAA=","item/subject":"TestingClass","item/start":"2021-08-10T14:00:00","item/end":"2021-08-10T15:00:00","item/timeZone":"(UTC-07:00) Mountain Time (US & Canada)","item/body":"<p>Class: TestingClass<br>\nYour Instructors Email's Are:<br>\nTEACHEREMAIL@travelport.com<br>\nCourse Link: LINKTOCLASS</p>","item/location":"MS Teams","item/recurrence":"daily","item/numberOfOccurences":4,"item/reminderMinutesBeforeStart":15,"item/isReminderOn":true,"item/showAs":"busy","item/responseRequested":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_to_student":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_response_details')?['body/responder']};","request/subject":"Succesfull Registration for TestingClass","request/text":"<p>Congradulations you have been added succesfully.<br>\nYour Instructors Email's Are:<br>\nTEACHEREMAIL@travelport.com<br>\nUse this link if you need to be removed from the course:<br>\n<br>\n<br>\n<br>\nDROPCLASSURL</p>"},"authentication":"@parameters('$authentication')"}},"Initialize_ResponseObject":{"runAfter":{"Get_Form_Data":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ResponseObject","type":"object","value":"@outputs('Get_Form_Data')?['body']"}]}},"Select":{"runAfter":{"Initialize_UnparsedQuestions":["Succeeded"]},"type":"Select","inputs":{"from":"@variables('UnparsedQuestions')","select":{"name":"@item()['title']","id":"@item()['id']","response":"@outputs('Get_response_details').body[item().id]"}}},"Initialize_UnparsedQuestions":{"runAfter":{"Initialize_ResponseObject":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UnparsedQuestions","type":"array","value":"@variables('ResponseObject').form.questions"}]}},"Initialize_TableColumnString":{"runAfter":{"Initialize_Questions":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TableColumnString","type":"string"}]}},"Apply_to_each":{"foreach":"@body('Select')","actions":{"Append_TableColumnString_with_Column_Name_":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Temp2","value":"@{concat(concat(variables('TableColumnString'),items('Apply_to_each').name),';')}"}},"Transfer_Temp_to_TableColumnString":{"runAfter":{"Append_TableColumnString_with_Column_Name_":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TableColumnString","value":"@variables('Temp2')"}}},"runAfter":{"Initialize_Temp2":["Succeeded"]},"type":"Foreach"},"Add_a_row_into_a_table":{"runAfter":{"Create_Table_if_doesn't_exist":["Succeeded"]},"metadata":{"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI":"/Class Leger.xlsx","tableId":"@{variables('ClassName')}Table"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!yyd3UvWQUEWBsq-IBKWWz7xMJNqfPMpMrf0sy0vbLidiVBR0bz75T7Dua8_0uE5Z","file":"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI","table":"@{variables('ClassName')}Table","item":"@body('Parse_JSON')"},"authentication":"@parameters('$authentication')"}},"Create_Table_if_doesn't_exist":{"actions":{"Create_table_2":{"runAfter":{},"metadata":{"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI":"/Class Leger.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"me","drive":"b!yyd3UvWQUEWBsq-IBKWWz7xMJNqfPMpMrf0sy0vbLidiVBR0bz75T7Dua8_0uE5Z","file":"01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI","table/Range":"@{variables('ClassName')}!A1:A2","table/TableName":"@{variables('ClassName')}Table","table/ColumnsNames":"@variables('TableColumnString')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"CheckTableExists":["Succeeded"],"Parse_JSON":["Succeeded"]},"expression":{"equals":["@variables('TableExists')",false]},"type":"If"},"Set_Email":{"runAfter":{"Necessary_Temp_Variable_":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email","type":"string","value":"@outputs('Get_response_details')?['body/responder']"}]}},"Initialize_Temp2":{"runAfter":{"Initialize_TableColumnString":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Temp2","type":"string","value":"\"\""}]}},"Initialize_Questions":{"runAfter":{"Select":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Questions","type":"array","value":"@body('Select')"}]}},"Create_Array_of_Question_and_Answer":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Select","inputs":{"from":"@variables('Questions')","select":"'@{item().name}':'@{item().response}'"}},"Initialize_CreateRowJSON":{"runAfter":{"Initialize_unParsedArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CreateRowJSON","type":"string"}]}},"Initialize_unParsedArray":{"runAfter":{"Create_Array_of_Question_and_Answer":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"unParsedArray","type":"array","value":"@body('Create_Array_of_Question_and_Answer')"}]}},"Join":{"runAfter":{"Initialize_CreateRowJSON":["Succeeded"]},"type":"Join","inputs":{"from":"@variables('unParsedArray')","joinWith":","}},"Set_String_JSON_to_CreateRowJSON":{"runAfter":{"Join":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CreateRowJSON","value":"{@{body('Join')}}"}},"Parse_JSON":{"runAfter":{"Set_String_JSON_to_CreateRowJSON":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@variables('CreateRowJSON')","schema":{"*":"string"}}},"Send_an_email_to_Teacher":{"runAfter":{"Send_an_email_to_student":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"Iliyan.Dimitrov@travelport.com;","request/subject":"@{variables('ClassName')} Student Sighn Up","request/text":"<p>A student with the email address<br>\n@{outputs('Get_response_details')?['body/responder']}<br>\n<br>\nhas sighned up for your course @{variables('ClassName')}. You can view this data within the spreadsheet.<br>\nhttps://travelport365-my.sharepoint.com/:x:/g/personal/iliyan_dimitrov_travelport_com/Eazqo72eCUNMgtKYI02x4mgBpHIHBEcyE11QraCqOGyXFw<br>\n<br>\n<br>\nHere is the Data for the Student:<br>\n@{body('Parse_JSON')}<br>\n</p>"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-3289c02c-e3bb-487e-9113-f16dabbc4067","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"shared-sendmail-12e220b8-27c1-4777-85cd-eb6c-b68779c0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-a8fb2cfb-e886-4cd3-ba4b-b071-e8bd6b90","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-fbc3e3b2-0017-482d-897b-753b-c0c06276","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_webcontents":{"connectionName":"shared-webcontents-7e4593ed-3865-47ea-ac94-6451-d5060fd1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_webcontents","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}