front-end/src/TemplateTest/Microsoft.Flow/flows/48390e25-39b4-4e3c-a056-e9770e60df6a/definition.json
{"name":"cf5d7911-dbfc-4495-ac93-318609ea96f7","id":"/providers/Microsoft.Flow/flows/cf5d7911-dbfc-4495-ac93-318609ea96f7","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Course: \"TEST\" Registration","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"0d8c8bdf-98f7-47e2-9147-f5acc58199a3","type":"User","tenantId":"6416915b-6778-4c36-ba4f-e56ff64a8bb7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-07-15T16:00:35.832164Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUMlRCVU5BMkgxRElBUUFNM09JNkc5Njk0TC4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUMlRCVU5BMkgxRElBUUFNM09JNkc5Njk0TC4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_response_details')?['body/r35a6826734d846f89ae16f9b1ed6a0f7']};","request/subject":"Succesfull Course Registration for \"X\"","request/text":"<p>Congradulations you have been added succesfully.<br>\nUse this link if you need to be removed from the course: <br>\n<br>\nhttps://forms.office.com/Pages/ResponsePage.aspx?id=W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUMVA4QTRQOU81RTBYUlRQOUFTOVpOUE9CVC4u</p>"},"authentication":"@parameters('$authentication')"}},"Create_event_(V4)":{"runAfter":{"Send_an_email_notification_(V3)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AAMkADYwNDI2YjM5LWEwMDEtNDQ4YS04MDJkLWMxOTNiZjg2ZTcyNwBGAAAAAADD-by0ElfBSIm3b-YcPsX6BwC8Ve07jesgQrXH1UDvOdvyAAAAk5atAAAcxkeEL9d2R6IhU9EmPJkZAAAAAEg3AAA=","item/subject":"Course X","item/start":"2021-07-14T09:00:00","item/end":"2021-07-14T16:00:00","item/timeZone":"(UTC-07:00) Mountain Time (US & Canada)","item/body":"<p>Your course.<br>\nCourse Link: \"\"</p>","item/location":"MS Teams","item/recurrence":"daily","item/numberOfOccurences":4,"item/reminderMinutesBeforeStart":15,"item/isReminderOn":true,"item/showAs":"busy","item/responseRequested":false},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-3289c02c-e3bb-487e-9113-f16dabbc4067","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"shared-sendmail-12e220b8-27c1-4777-85cd-eb6c-b68779c0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-a8fb2cfb-e886-4cd3-ba4b-b071-e8bd6b90","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}