front-end/src/DevTemplateRegister/Microsoft.Flow/flows/31c9ad59-a10d-460e-9686-25b682e38605/definition.json
{
  "name": "c1a089a5-0348-4c8f-bd5b-aeaece3c3af1",
  "id": "/providers/Microsoft.Flow/flows/c1a089a5-0348-4c8f-bd5b-aeaece3c3af1",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "CLass Register",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "creator": {
          "id": "0d8c8bdf-98f7-47e2-9147-f5acc58199a3",
          "type": "User",
          "tenantId": "6416915b-6778-4c36-ba4f-e56ff64a8bb7"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2021-08-11T20:35:07.3828446Z"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook"
            },
            "parameters": {
              "form_id": "W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUQVYzS1Y4NzZLM1FDOTNXSlI5UU00UElNRC4u"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById"
            },
            "parameters": {
              "form_id": "W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUQVYzS1Y4NzZLM1FDOTNXSlI5UU00UElNRC4u",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "WorksheetExist": {
          "runAfter": {
            "ClassName": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WorksheetExist",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Create_Worksheet_if_doesn't_exist": {
          "actions": {
            "Create_worksheet_2": {
              "runAfter": {},
              "metadata": {
                "01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI": "/Class Leger.xlsx",
                "tableId": null,
                "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML": "/Class Leger.xlsx"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "CreateWorksheet"
                },
                "parameters": {
                  "source": "groups/912b5909-d419-4ffe-a661-97135af3538a",
                  "drive": "b!nIT3CmrO0kmHnnUsBk0bQZbjUht3kWpGm7F4gkFRvSQ4pRbejYHsSbSLhpkNlAbN",
                  "file": "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML",
                  "body/name": "@variables('ClassName')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Check_if_Worksheet_Exist": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('WorksheetExist')",
              false
            ]
          },
          "type": "If"
        },
        "ClassName": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ClassName",
                "type": "string",
                "value": "CLass"
              }
            ]
          }
        },
        "TableExists": {
          "runAfter": {
            "Create_Worksheet_if_doesn't_exist": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableExists",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Necessary_Temp_Variable_": {
          "runAfter": {
            "WorksheetExist": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Temp",
                "type": "object"
              }
            ]
          }
        },
        "Get_Form_Data": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "/handlers/ResponsePageStartup.ashx?id=W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUQVYzS1Y4NzZLM1FDOTNXSlI5UU00UElNRC4u"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_to_student": {
          "runAfter": {
            "Get_file_content": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
              "connectionName": "shared_sendmail",
              "operationId": "SendEmailV3"
            },
            "parameters": {
              "request/to": "@{outputs('Get_response_details')?['body/responder']};",
              "request/subject": "Succesfull Registration for CLass",
              "request/text": "<p>Congradulations you have been added succesfully.<br>\nYour Instructors Email's Are:<br>\niliyan.dimitrov@travelport.com<br>\nUse this link if you need to be removed from the course: <br>\n<br>\nhttps://forms.office.com/Pages/ResponsePage.aspx?id=W5EWZHhnNky6T-Vv9kqLt9-LjA33mOJHkUf1rMWBmaNUQVYzS1Y4NzZLM1FDOTNXSlI5UU00UElNRC4u</p>",
              "request/files": "@outputs('Get_file_content')?['body']",
              "request/filenames": "@outputs('Create_file')?['body/Name']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_ResponseObject": {
          "runAfter": {
            "Get_Form_Data": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ResponseObject",
                "type": "object",
                "value": "@outputs('Get_Form_Data')?['body']"
              }
            ]
          }
        },
        "Select": {
          "runAfter": {
            "Initialize_UnparsedQuestions": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "inputs": {
            "from": "@variables('UnparsedQuestions')",
            "select": {
              "name": "@item()['title']",
              "id": "@item()['id']",
              "response": "@outputs('Get_response_details').body[item().id]"
            }
          }
        },
        "Initialize_UnparsedQuestions": {
          "runAfter": {
            "Initialize_ResponseObject": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UnparsedQuestions",
                "type": "array",
                "value": "@variables('ResponseObject').data.form.questions"
              }
            ]
          }
        },
        "Initialize_TableColumnString": {
          "runAfter": {
            "Initialize_Questions": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableColumnString",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Select')",
          "actions": {
            "Append_TableColumnString_with_Column_Name_": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "Temp2",
                "value": "@{concat(concat(variables('TableColumnString'),items('Apply_to_each').name),';')}"
              }
            },
            "Transfer_Temp_to_TableColumnString": {
              "runAfter": {
                "Append_TableColumnString_with_Column_Name_": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TableColumnString",
                "value": "@variables('Temp2')"
              }
            }
          },
          "runAfter": {
            "Initialize_Temp2": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Create_Table_if_doesn't_exist": {
          "actions": {
            "Create_table_2": {
              "runAfter": {},
              "metadata": {
                "01MKVNE5NM5KR33HQJINGIFUUYENG3DYTI": "/Class Leger.xlsx",
                "tableId": null,
                "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML": "/Class Leger.xlsx"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "CreateTable"
                },
                "parameters": {
                  "source": "groups/912b5909-d419-4ffe-a661-97135af3538a",
                  "drive": "b!nIT3CmrO0kmHnnUsBk0bQZbjUht3kWpGm7F4gkFRvSQ4pRbejYHsSbSLhpkNlAbN",
                  "file": "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML",
                  "table/Range": "@{variables('ClassName')}!A1:A2",
                  "table/TableName": "@{variables('ClassName')}Table",
                  "table/ColumnsNames": "@variables('TableColumnString')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ],
            "Check_if_Table_Exists": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('TableExists')",
              false
            ]
          },
          "type": "If"
        },
        "Set_Email": {
          "runAfter": {
            "Necessary_Temp_Variable_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Email",
                "type": "string",
                "value": "@outputs('Get_response_details')?['body/responder']"
              }
            ]
          }
        },
        "Initialize_Temp2": {
          "runAfter": {
            "Initialize_TableColumnString": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Temp2",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Initialize_Questions": {
          "runAfter": {
            "Select": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Questions",
                "type": "array",
                "value": "@body('Select')"
              }
            ]
          }
        },
        "Create_Array_of_Question_and_Answer": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "inputs": {
            "from": "@variables('Questions')",
            "select": "'@{item()['name']}':'@{item()['response']}'"
          }
        },
        "Initialize_CreateRowJSON": {
          "runAfter": {
            "Initialize_unParsedArray": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CreateRowJSON",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_unParsedArray": {
          "runAfter": {
            "Create_Array_of_Question_and_Answer": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "unParsedArray",
                "type": "array",
                "value": "@body('Create_Array_of_Question_and_Answer')"
              }
            ]
          }
        },
        "Join": {
          "runAfter": {
            "Initialize_CreateRowJSON": [
              "Succeeded"
            ]
          },
          "type": "Join",
          "inputs": {
            "from": "@variables('unParsedArray')",
            "joinWith": ","
          }
        },
        "Set_String_JSON_to_CreateRowJSON": {
          "runAfter": {
            "Join": [
              "Succeeded"
            ]
          },
          "type": "SetVariable",
          "inputs": {
            "name": "CreateRowJSON",
            "value": "{@{body('Join')}}"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Set_String_JSON_to_CreateRowJSON": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@variables('CreateRowJSON')",
            "schema": {
              "*": "string"
            }
          }
        },
        "Send_an_email_to_Teacher": {
          "runAfter": {
            "Send_an_email_to_student": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
              "connectionName": "shared_sendmail",
              "operationId": "SendEmailV3"
            },
            "parameters": {
              "request/to": "iliyan.dimitrov@travelport.com;",
              "request/subject": "@{variables('ClassName')} Student Sighn Up",
              "request/text": "<p>A student with the email address<br>\n@{outputs('Get_response_details')?['body/responder']}<br>\n<br>\nhas sighned up for your course @{variables('ClassName')}. You can view this data within the spreadsheet.<br>\nhttps://travelport365-my.sharepoint.com/:x:/g/personal/iliyan_dimitrov_travelport_com/Eazqo72eCUNMgtKYI02x4mgBpHIHBEcyE11QraCqOGyXFw<br>\n<br>\n<br>\nHere is the Data for the Student:<br>\n@{body('Parse_JSON')}<br>\n</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_worksheets": {
          "runAfter": {
            "Set_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML": "/Class Leger.xlsx",
            "tableId": null
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "GetAllWorksheets"
            },
            "parameters": {
              "source": "groups/912b5909-d419-4ffe-a661-97135af3538a",
              "drive": "b!nIT3CmrO0kmHnnUsBk0bQZbjUht3kWpGm7F4gkFRvSQ4pRbejYHsSbSLhpkNlAbN",
              "file": "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_tables": {
          "runAfter": {
            "TableExists": [
              "Succeeded"
            ]
          },
          "metadata": {
            "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML": "/Class Leger.xlsx",
            "tableId": null
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "GetTables"
            },
            "parameters": {
              "source": "groups/912b5909-d419-4ffe-a661-97135af3538a",
              "drive": "b!nIT3CmrO0kmHnnUsBk0bQZbjUht3kWpGm7F4gkFRvSQ4pRbejYHsSbSLhpkNlAbN",
              "file": "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_a_row_into_a_table": {
          "runAfter": {
            "Create_Table_if_doesn't_exist": [
              "Succeeded"
            ]
          },
          "metadata": {
            "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML": "/Class Leger.xlsx",
            "tableId": "@{variables('ClassName')}Table"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "AddRowV2"
            },
            "parameters": {
              "source": "groups/912b5909-d419-4ffe-a661-97135af3538a",
              "drive": "b!nIT3CmrO0kmHnnUsBk0bQZbjUht3kWpGm7F4gkFRvSQ4pRbejYHsSbSLhpkNlAbN",
              "file": "01XIT3P5XB5SV3UMPK5JCK54ONEDWGDBML",
              "table": "@{variables('ClassName')}Table",
              "item": "@body('Parse_JSON')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_if_Worksheet_Exist": {
          "foreach": "@outputs('Get_worksheets')?['body/value']",
          "actions": {
            "Compose": {
              "runAfter": {},
              "type": "Compose",
              "inputs": "@items('Check_if_Worksheet_Exist')"
            },
            "Condition": {
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "WorksheetExist",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@items('Check_if_Worksheet_Exist').name",
                  "@variables('ClassName')"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_worksheets": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Check_if_Table_Exists": {
          "foreach": "@outputs('Get_tables')?['body/value']",
          "actions": {
            "Condition_2": {
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "TableExists",
                    "value": true
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "equals": [
                  "@items('Check_if_Table_Exists').name",
                  "@concat(variables('ClassName'),'Table')"
                ]
              },
              "type": "If"
            },
            "Compose_2": {
              "runAfter": {
                "Condition_2": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@items('Check_if_Table_Exists')"
            },
            "Compose_3": {
              "runAfter": {
                "Compose_2": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@concat(variables('ClassName'),'Table')"
            }
          },
          "runAfter": {
            "Get_tables": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Format_ICS": {
          "runAfter": {
            "Add_a_row_into_a_table": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "BEGIN:VCALENDAR\nVERSION:2.0\nBEGIN:VEVENT\nURL:\nDTSTART:2021-08-10T13:58:00\nDTEND:2021-08-10T15:58:00\nRRULE:FREQ=DAILY;COUNT=10\nSUMMARY:@{variables('ClassName')}\nDESCRIPTION:\nLOCATION:Online\nEND:VEVENT\nENDVCALENDAR\n\n"
        },
        "Create_file": {
          "runAfter": {
            "Format_ICS": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "CreateFile"
            },
            "parameters": {
              "folderPath": "/",
              "name": "@{variables('ClassName')}.ics",
              "body": "@outputs('Format_ICS')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Get_file_content": {
          "runAfter": {
            "Create_file": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "GetFileContent"
            },
            "parameters": {
              "id": "@outputs('Create_file')?['body/Id']",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "connectionReferences": {
      "shared_microsoftforms": {
        "connectionName": "42b76ba803aa42b5a0184f0d4367ee19",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
        "tier": "NotSpecified"
      },
      "shared_excelonlinebusiness": {
        "connectionName": "d663b30a336e48bfadde8582b2fab264",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
        "tier": "NotSpecified"
      },
      "shared_webcontents": {
        "connectionName": "c272c0d6c39b41258d6f11554680e053",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
        "tier": "NotSpecified"
      },
      "shared_sendmail": {
        "connectionName": "c06399dfc2a94ed487579eef272dd1af",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
        "tier": "NotSpecified"
      },
      "shared_onedriveforbusiness": {
        "connectionName": "shared-onedriveforbu-365baf2f-8f8c-47be-8beb-7077-846bcc0b",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
        "tier": "NotSpecified"
      }
    },
    "flowFailureAlertSubscribed": false
  }
}